@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #f5b800;
  --color-primary-dull: #0056b3;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
